input {
    border: none !important;
}

.form-light input:focus {
    background-color: #373737;
    border: none !important;
    border-radius: 9px;
    height: 32px !important;
    box-shadow: none !important;
    color: rgb(221, 221, 221);
}

.form-light {
    background-color: #373737;
    border-radius: 9px;
    height: 32px;
    display: flex;
    align-items: center;
}

    .form-light input {
        color: rgb(221, 221, 221);
        font-weight: 500;
        font-size: 13px;
    }

    .form-light input {
        background-color: transparent;
    }

.form-dark input:focus {
    background-color: #232323;
    border: none !important;
    border-radius: 9px;
    height: 32px !important;
    box-shadow: none !important;
    color: rgb(221, 221, 221);
}

.form-dark input {
    color: rgb(221, 221, 221);
    font-weight: 500;
    font-size: 13px;
}

.form-dark {
    background-color: #232323;
    border-radius: 9px;
    height: 32px;
    display: flex;
    align-items: center;
}

    .form-dark input {
        background-color: transparent;
    }

.form-lg {
    height: 38px;
}

    .form-lg input {
        height: 38px;
        font-weight: 500;
        font-size: 13px;
    }

.form-dark-select {
    height: 32px !important;
    border-radius: 8px !important;
    padding: 5px !important;
    background-color: #232323 !important;
    border-radius: 9px;
    height: 35px !important;
    display: flex;
    align-items: center;
}

    .form-dark-select select {
        background-color: #232323 !important;
        border: none !important;
    }

        .form-dark-select select:focus {
            border: none !important;
            box-shadow: none !important;
        }

    .form-dark-select button {
        width: 47px !important;
        font-size: 12px;
        color: white !important;
        font-weight: 600;
        background-color: #232323 !important;
        border-radius: 8px !important;
    }

.dropdown-goal-status button {
    text-align: left !important;
    width: 100% !important;
    color: white !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}

    .dropdown-goal-status button:hover {
        background-color: #373737 !important;
    }

.dropdown-goal-status a {
    color: white !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding-bottom: 5px !important;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 1px solid #3b3b3b;
}

.warwin-md {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


#notifyMessage {
    width: 566px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease;
    border: 1px solid rgb(34, 34, 34);
    display: flex;
    padding: 10px 8px 10px 15px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    background-color: #373737 !important;
}

.notifyActive {
    opacity: 1 !important;
}



.note-participation {
    margin-bottom: .5rem;
    text-align: center;
}

.note-participation span {
    font-size: 16px;
    font-weight: 700;
    color: #1c92ff;
}

    .note-participation p {
        font-size: 12px !important;
        color: #9f9f9f !important;
    }


.t-goal-failed {
    color: #ff3434 !important;
    border: 1px solid #ff3434;
}

.t-goal-complete {
    color: #34aa09 !important;
    border: 1px solid #258f00;
}

.t-goal-wait {
    color: #eb920d !important;
    border: 1px solid #f1aa0f;
}


.upd-form-select {
    height: 50px !important;
}

.upd-form-textarea {
    resize: none;
    height: 77px;
    border-radius: 9px !important;
    color: #9f9f9f !important;
    border: 1px solid #434343 !important;
    background-color: #1e1e1e !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.upd-form-avatar-square {
    background-size: 100%;
    width: 120px;
    height: 69px;
    font-size: 0px;
    background-color: transparent !important;
}

.upd-form-input {
    height: 44px;
    border-radius: 9px !important;
    color: #9f9f9f !important;
    border: 1px solid #434343 !important;
    background-color: #1e1e1e !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.upd-form-avatar-circle {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    font-size: 0px;
    border-radius: 50%;
    background-color: transparent !important;
}