.ideaSectionLink {
    cursor: pointer!important;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #4d4d4d;
    padding: 7px 10px 14px 10px;
    transition: border-bottom 0.2s ease-in-out;
}

.ideaSectionLink-active {
    border-bottom: 1px solid #ff3434 !important;
}

.ideaSectionLink:hover {
    color: white !important;
    border-bottom: 1px solid #a52525;
}

.ideaTopicLink {
    cursor: pointer;
    transition: padding-left 0.3s ease-in-out;
}

    .ideaTopicLink:hover {
        padding-left: 6px !important;
    }

#topicDetail {
}

.windowContentWrapper {
    overflow-y: scroll;
    overflow-x:hidden;
    height: 350px;
}

.topicDiscussMessage {
    display: flex;
    width: 100%;
}

    .topicDiscussMessage img {
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }

    .topicDiscussMessage p {
        margin-bottom: 10px !important;
        padding-left: 7px;
        font-size: 13px;
        color: #9f9f9f !important;
        font-weight: 500;
    }

    .topicDiscussMessage span {
        color: white;
    }


.modder-note {
    margin-bottom: 0.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}

    .modder-note img {
        height: 33px;
        width: 33px;
        border-radius: 50%;
    }

    .modder-note span {
        font-size: 14px !important;
        font-weight: 600 !important;
        padding-left: 0.25rem !important;
        color: white;
    }

    .modder-note a {
        color: #9f9f9f !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        margin-right: 0.25rem !important;
    }

.window-btn {
    margin-right: 5px;
    transition: background 0.3s ease;
    background: rgba(0, 0, 0, 0.66);
    border-radius: 32px;
    padding: 8px 16px;
    border: none !important;
    font-size: 13px;
    font-weight: 600;
}

.modder-note-buttons {
    align-items: center !important;
    display: flex !important;
}

    .modder-note-buttons div {
        padding-left: 2.5em;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5em;
        margin-bottom: 0.125rem;
    }

.date-publ-span {
    min-width: 80px;
}

.boxGoalContent {
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding-right: 2rem !important;
    display: flex !important;
    flex: 0 0 auto;
    width: 100%;
}

    .boxGoalContent form {
        width: 266px;
        margin-right: 1.5rem !important;
        align-items: center !important;
        display: flex !important;
    }

    .boxGoalContent select {
        width: 110px;
        border-radius: 9px !important;
        color: #9f9f9f !important;
        border: 1px solid #434343 !important;
        background-color: #1e1e1e !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        padding-right: 0.25rem !important;
        margin-right: 0 !important;
    }

    .boxGoalContent button {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
        width: max-content;
        font-size: 12px !important;
        font-weight: 700 !important;
    }


.warning-window-container {
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 9px;
}
