.sectionUserChat {
}

    .sectionUserChat:hover {
        background-color: #1e1e1e;
    }

#chatWrapper {
    min-height: 740px;
}


#chatMessageContainer {
    max-height: 568px!important;
    min-height: 568px!important;
    overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 1px solid #3b3b3b;
}

#allChatsContainer {
    overflow-y: scroll;
    max-height: 600px;
    overflow-x: hidden;
}

.note-newchat {
    width: 100% !important;
    margin-bottom: .5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

    .note-newchat a {
        padding-bottom: .25rem !important;
        padding-right: 1rem !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        color: white !important;
    }

.note-newchat button {
    font-size: 12px !important;
    font-weight: 600 !important;
    color: white !important;
}


.sectionUserChat {
    width: 256px !important;
    border-bottom: 1px solid #434343 !important;
    padding-left: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-right: 0.5rem !important;
    padding-top: 1rem !important;
    display: flex !important;
    flex: 0 0 auto;
    width: 100%;
}

    .sectionUserChat img {
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        height: 44px !important;
        width: 44px !important;
        border-radius: 50%;
    }

    .sectionUserChat p {
        text-align: left;
        font-size: 14px !important;
        font-weight: 600 !important;
        margin-bottom: 0 !important;
        color: white !important;
    }

    .sectionUserChat span {
        text-align: left;
        color: #9f9f9f !important;
        max-width: 150px !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        display: inline-block !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


.newChatChoiceSection {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .newChatChoiceSection p {
        padding-right: 5px !important;
        margin-bottom: 0px !important;
        font-size: 15px !important;
        color: white !important;
        padding-left: 5px !important;
        font-weight: 600 !important;
    }

    .newChatChoiceSection img {
        height: 25px;
        width: 25px;
        border-radius: 50% !important;
    }

    .newChatChoiceSection button {
        display: flex !important;
        align-items: center !important;
    }

.messageWrapper {
    display: flex !important;
    width: 100%;
}

    .messageWrapper img {
        width: 23px;
        height: 23px;
        border-radius: 50%;
    }

    .messageWrapper p {
        padding-left: 10px;
        color: #9f9f9f !important;
        font-size: 13px !important;
        font-weight: 500 !important;
    }

    .messageWrapper div {
        display: flex !important;
        flex: 0 0 auto;
        width: 83.33333333%;
    }

.myMessage {
    justify-content: end !important;
}

    .myMessage div {
        display: flex !important;
        flex-direction: row-reverse !important;
    }

    .myMessage p {
        background-color: #2b2b2b;
        padding: 3px 5px 5px 6px;
        border-radius: 4px;
        margin-right: 8px;
    }
