@model IEnumerable<Mvc.ApplicationCore.DTOs.TagDto>

<select
    name="idea.Tags"
    class="custom-scroll upd-form-select select-multiple form-control me-0 pe-1"
    aria-label="Default select example"
    multiple
    required
    >
    @foreach(var tag in Model)
    {
        <option class="pt-1 pb-1 t-semi-bold" value="@tag.Name">@tag.Name</option>
    }                  
</select>