
@{
    ViewData["Title"] = $"About Us";
    Layout = "_Layout";
}

<div class="container d-flex align-items-center">
      <div
        id="preCheckOutIdea"
        class="z-100 position-fixed container d-flex justify-content-center"
      >
        <div
          class="z-100 col-12 d-flex justify-content-center"
          id="checkOutIdea"
        >
          <div
            id="inviteWindow"
            class="d-none z-100 overhide-window-xsm bg-darklight"
          >
            <div
              class="border-bottom align-items-center p-2 ps-3 pe-0 col-12 d-flex justify-content-between"
            >
              <span class="t-md text-white t-bold">Invite</span>
              <button
                class="showHideInvite btn btn-sm text-white t-sm t-semi-bold"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  fill="currentColor"
                  class="bi bi-x"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                  />
                </svg>
              </button>
            </div>
            <div class="col-12 ps-3 p-2">
              <div
                class="p-5 d-flex col-12 justify-content-center align-items-center"
              >
                <div class="d-flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="46"
                    height="46"
                    fill="currentColor"
                    class="t-muted bi bi-reply"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"
                    />
                  </svg>
                  <p
                    style="width: 170px;"
                    class="ps-2 t-md t-semi-bold text-white"
                  >
                    Join idea
                    <br />
                    <span class="t-muted t-sm t-medium"
                      >Join the idea, develop, communicate, fulfill goals</span
                    >
                  </p>
                </div>
              </div>
              <div class="ps-4 pe-4">
                <form>
                  <div class="mb-2">
                    <textarea
                      style="resize: none; height: 66px;"
                      class="radius-lg bg-dark border text-white t-md t-semi-bold form-control me-0 pe-1"
                      placeholder="Write how you can help"
                      aria-label="Search"
                    ></textarea>
                  </div>

                  <div class="border-top pb-4 pt-3 mt-4 col-12 text-center">
                    <button class="btn t-bold t-primary">Send</button>
                    <div class="t-sm t-muted t-medium">
                      Idea modders will accept your request
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div>
        <header>
          <div class="mt-3 border-bottom container d-flex ps-0">
            <div class="d-flex align-items-center">
              <div>
                <h1 class="t-shadow t-title-presentation">Roundile</h1>
              </div>
              <div class="ps-3 pt-3">
                <div class="mb-3">
                  <span class="t-tag">Beta</span>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <img height="130" src="~/media/site/startupCreate.png" />
            </div>
          </div>
        </header>
        <div class="p-2 col-12 d-flex align-items-start">
          <div class="pe-4 col">
            <main>
              <div class="col-12 mb-4">
                <div
                  class="col-12 border-end pe-2 custom-scroll"
                >
                  <section>
                    <div class="mt-5 col-12 d-flex">
                      <div class="pe-2">
                        <h3 class="t-undertitle t-shadow">
                          What is an idea?
                        </h3>
                        <p class="mb-0 t-bold text-muted">
                          A custom idea that contains topics and boxes. In it,
                          the author expresses his opinion, invites people to it
                          and develops with them.
                        </p>
                      </div>
                      <div style="width: 466px;">
                        <div class="ps-1 pt-3 d-flex flex-wrap">
                          <div class="position-relative">
                            <div
                                class="shadow"
                              >
                                <img class="shadow radius-md border" height="100" width="160" src="~/media/site/ideaBackTest.jpg" />
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="mt-5 col-12 d-flex align-items-center">
                      <div
                        style="width: 180px;"
                        class="d-flex justify-content-center"
                      >
                        <div>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="104"
                            height="104"
                            fill="currentColor"
                            class="t-muted bi bi-book"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="col-6">
                        <h3 class="t-undertitle t-shadow">
                          Topics
                        </h3>
                        <p class="mb-0 t-bold text-muted">
                          With the help of a topic, the author of an idea can
                          describe its constituent sections
                        </p>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="mt-5 col-12 d-flex">
                      <div class="pe-4">
                        <h3 class="t-undertitle t-shadow">
                          Box & Goals
                        </h3>
                        <p class="mb-0 t-bold text-muted">
                          Create boxes, fill them with goals, discuss and
                          develop the idea. Idea moderators can edit goals and
                          their status.
                        </p>
                        <div class="mt-2 col-12 d-flex flex-wrap">
                          <div class="mb-2 upd-goal goal-complete me-1">
                            <span>Complete</span>
                            122
                          </div>
                          <div class="mb-2 upd-goal goal-waiting me-1">
                            <span>Wait</span>
                            6
                          </div>
                          <div class="mb-2 upd-goal goal-failed me-1">
                            <span>Failed</span>
                            14
                          </div>
                        </div>
                      </div>
                      <div style="width: 294px;" class="">
                        <div class="ps-1 pt-3 d-flex flex-wrap">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="104"
                            height="104"
                            fill="currentColor"
                            class="t-muted bi bi-boxes"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="mt-4 col-12 d-flex align-items-center">
                      <div class="pe-3 ps-3 d-flex justify-content-center">
                        <div>
                          <img
                            height="160"
                            src="~/media/site/startupCreate.png"
                          />
                        </div>
                      </div>
                      <div class="">
                        <h3 class="t-undertitle t-shadow">
                          Idea status
                        </h3>
                        <p class="mb-0 t-bold text-muted">
                          Each idea has one of three progress statuses:
                          <ul class="p-2 ps-3">
                            <li class="t-semi-bold t-sm text-muted">Find Members</li>
                            <li class="t-semi-bold t-sm text-muted">In Development</li>
                            <li class="t-semi-bold t-sm text-muted">Complete</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="mt-3 col-12 d-flex align-items-center">
                      <div class="pe-4">
                        <h3 class="t-undertitle t-shadow">
                          Invites & Communicate
                        </h3>
                        <p class="mb-0 t-bold text-muted">
                          Discuss the idea you are interested in with other users in the chat, join and invite people to ideas.
                        </p>
                      </div>
                      <div style="width: 294px;" class="">
                        <div class="ps-1 align-items-center pt-3 d-flex flex-wrap">
                          <div class="text-center">
                            <img src="~/media/site/testAvatar1.jpg" height="39" width="39" class="circle shadow"/>
                            <div>
                              <img src="~/media/site/testAvatar2.jpg" height="39" width="39" class="circle shadow"/>
                              <img src="~/media/site/testAvatar3.jpg" height="39" width="39" class="circle shadow"/>
                            </div>
                            <div>
                              <img src="~/media/site/testAvatar4.jpg" height="39" width="39" class="circle shadow"/>
                              <img src="~/media/site/testAvatar5.png" height="39" width="39" class="circle shadow"/>
                              <img src="~/media/site/testAvatar6.jpg" height="39" width="39" class="circle shadow"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </main>
          </div>
          <div class="col-4 pt-5">
            <div class="position-relative pt-4">
              <div style="width:366px" class="position-fixed">
                <div class="col-12 ps-2 p-2">
                  <div
                    class="p-3 d-flex col-12 justify-content-center align-items-center"
                  >
                    <div class="d-flex align-items-center">

                      <span class="ps-2 mb-0 t-xl t-semi-bold text-white">
                        Help Author
                      </span>
                    </div>
                  </div>
                  <div class="pb-3 ps-4 pe-4">
                    <div class="mb-3">
                      <label class="t-md pb-1 t-semi-bold text-muted">Card</label>
                      <input
                        disabled
                        class="upd-form-disinput form-control me-0 pe-1 border-none"
                        placeholder="nmber card #1"
                        aria-label="Search"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="t-md pb-1 t-semi-bold text-muted">Card</label>
                      <input
                        disabled
                        class="upd-form-disinput form-control me-0 pe-1 border-none"
                        placeholder="Username"
                        aria-label="Search"
                        placeholder="nmber card #2"
                      />
                    </div>
                    <div class="mb-3">
                      <label class="t-md pb-1 t-semi-bold text-muted">My contacts</label>
                      <div>
                        <a class="pe-2 t-bold t-md t-primary">Vk.com</a>
                      </div>
                    </div>
                    <hr class="t-muted">
                    <label class="t-md pb-1 t-semi-bold text-muted">About</label>
                    <p class="t-bold text-muted">
                      We listen to every opinion and will soon improve and update our website. 
                      <br>
                      <span class="text-white">Thanks.</span>
                    </p>
                    <div>
                      <a asp-action="login" asp-controller="account" class="text-center icon-link-btn">Login Or Register</a>
                    </div>
                  </div>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>